In [1]:
import pandas as pd
import glob

In [2]:
import pyarrow.parquet as pq
import pyarrow.dataset as ds

In [3]:
from io import BytesIO

In [46]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/snapshot_branches/*.parquet')])
print(df.head())

   snapshot_id  branch_id  __index_level_0__
0      1842488    4619140               5770
1      1842488    4653330               5771
2      1842488    4926317               5772
3      1842488    5013942               5773
4      1842488    5099947               5774

In [47]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/snapshot_branch/*.parquet')])
print(df.head())

   object_id                                           name  \
0      47690                             b'refs/tags/1.5.5'
1      57435                             b'refs/tags/v0.22'
2     236765  b'refs/heads/secondary-dns-lookup-error-7408'
3     304670                             b'refs/tags/0.2.2'
4     378619                      b'refs/heads/viewderiver'

                                              target target_type  \
0  b'\xc3\x05\x16\xe9\xcc\xa2\xdd\xc9*C\x18r\x84R...    revision
1  b'\xe0\xbd\x9ajP\x1c\xe3=\t\x0c\xf6\xf9W\x0c\x...    revision
2  b"\x1f\x04\x9fn\xd7\xf5\xb1\x13'{:\x07\xc3\xde...    revision
3  b'/\xbc6#\xe8\xa0\x9f\xb5\x96x\x8e\xe4\\\xcc\x...    revision
4    b'O5[cK2\xb7|k5\xdd\xc3\x1d\xfaw/\x07[\xf2\xee'    revision

   __index_level_0__
0               9513
1               9259
2               8588
3               6493
4                443

In [4]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/directory/*.parquet')])
print(df.head())

                                                  id  \
0  b'\x01,_)\x8d!n^\x80\xbd\xb4[7;\x84\xd5\xe8P\x...
1  b'\x01\x8bU\x8e-\n\xd9\x0c\xf9\x87~Um\x18\xe6\...
2  b'\x01\xb3$\x1b\x17\xfa\x96\xe3\xd9>\x819\x14\...
3  b'\x03\x15\x1a.N\xa4\x99\x1bfT\xe5\x0c,L\x80\x...
4  b'\x03_\xe0\xbfqxg6"\xb57Y\xf9s\xccc\xb6\xe9\x...

                                         dir_entries  \
0  [54839571, 54836688, 54817642, 54841956, 54838...
1                                               None
2  [59722883, 14606981, 338701856, 338705639, 382...
3                              [93954850, 161465782]
4   [2448079244, 2448079498, 2448079484, 2448079261]

                                        file_entries rev_entries  \
0            [3406601, 69238130, 69249698, 69240800]        None
1  [2713270, 66429917, 66438342, 66428949, 664438...        None
2  [463127505, 463124660, 5222698, 15905312, 1323...        None
3  [215578881, 119296784, 215571584, 215573952, 2...        None
4  [3568156102, 3568156067, 3568156026, 356815634...        None

   __index_level_0__
0               4474
1               1322
2               9652
3               2741
4               1897

In [5]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/directory_entry_file/*.parquet')])
print(df.head())

     id                                             target  \
0    69  b'\xc4\x18\xdb\xaa\xa05\xc3j\xce\xb3"\x84u\x7f...
1   475  b'\xe8\xae\x14\xf8\xbd\xa7\xd1$\xbf\xdb\xcd\x0...
2   913  b'c\xde|fX4\xd3\xd4\x0e5P\x02\t\x0f\xcew\x91\x...
3  1086  b'\x10\xe8\x93\xe4 \x1bB\x89\xa8\x82\xc6r>\xe8...
4  1148  b'\xccF\xf1\xc6Rq\x9f\xee\x89\x1c(\x9a\x90\xd4...

                   name  perms  __index_level_0__
0        b'compiler.py'  33188               4547
1          b'errors.py'  33188               4953
2        b'test_lex.py'  33188               5391
3  b'jquery.console.js'  33188               5564
4         b'_compat.py'  33188               5626

In [6]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/skipped_content/*.parquet')])
print(df.head())

                                                sha1  \
0  b'\xc7V\xafT\x0627U\x9de\x87\xeb\xdb\xe4\xffj....
0                                               None
0                                               None
0                                               None
0                                               None

                                            sha1_git     length  \
0  b',\xa4[\xd2H\xefA\x8c\x14\x1aL\x9e\xf0|[\xe9>...  118181474
0  b'\xa8B;\x01\xd4\xc4^\r7\x8b*P\x80\x078\t\xc1\...  230400080
0  b'7I@\xc8\x0e\xef\x1c\xf5Y\xd7\xf6\xf1sq@)R\xf...  120000080
0  b'\xef7_i\xdf\x08[?\xf1\x1e\x9b;\xde\xe2.\xf5\...  120000080
0  b'f\x05\x84\xf9\xf1\x12=\x9e\x95\xcc\x8b\xa9\x...  230400080

   __index_level_0__
0               5436
0               6232
0               1030
0               6233
0               6234

In [7]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/content/*.parquet')])
print(df.head())

                                                sha1  \
0  b"\x9c?\x1a3\x00.B\x8c\xa6'\xd0\xd8\xa64T\x7f)...
1  b'\xeb\xb9Jrd\x1b)\r>\x1a\xf9\x8f\x89K\xaa\x16...
2  b'\r\x11\xbd\x80\xb9\xda?\x02&\xdf\xd8\xd54\x9...
3  b'j8;v$\xf0\x8c\x15\x83\x85\xc6\x07\xce\xfc\x9...
4  b'h\xda\xcb\x94q@\x86O4\xb6\xd9-i\xe3\xbfx\x92...

                                            sha1_git  length  \
0  b'\x00[\xde0#=\x04\x89=&@\xcd\xbf\xf9KGk\x8f\x...    2337
1  b'\x00\x9a\xf9\xb8{\r\x8a\xc4\xc0\x93\xb6\xdb\...     362
2  b'\x01\xe4\xb9\x1d\x07\xcfRP\xfc3\x07#-]\x8c\x...    1951
3  b'\x02X&\xb2\xc1\xf8\x7f\x89\xe4\xdbSk\xe53\nO...   30415
4  b'\x03\x8a:\x13\xa4\xc3_\x124\xae\x83\x89\xed\...    2980

   __index_level_0__
0               4031
1               2926
2               8835
3               3377
4               3618

In [30]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/origin_visit/*.parquet')])
print(df.head())

     origin  visit                       date   status  metadata  snapshot_id  \
0  63801282      1 2018-06-30 18:56:51.164383     full       NaN   55444239.0
1  63801282      2 2018-07-02 13:38:57.162672     full       NaN   55477599.0
2  63801282      3 2018-07-07 02:38:21.198051     full       NaN   55559709.0
3  63801282      4 2018-09-07 13:30:43.078043  partial       NaN          NaN
4  63801282      6 2018-09-18 02:23:02.188091     full       NaN   56886982.0

   __index_level_0__
0               2285
1               2034
2               9064
3               2531
4               9516

In [32]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/snapshot_branches/*.parquet')])
print(df.head())

   snapshot_id  branch_id  __index_level_0__
0      1842488    4619140               5770
1      1842488    4653330               5771
2      1842488    4926317               5772
3      1842488    5013942               5773
4      1842488    5099947               5774

In [31]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/snapshot/*.parquet')])
print(df.head())

   object_id                                                 id  \
0   50548096  b'$D\x94\x94\xa0\\0\xbf\xff\x1c]\xa9\xcc=8\xe0...
1   51441980  b'^\xee\xb4\xa2\x85\xac\xa3\x0f6J\xb0\xb8\x95&...
2   51645305  b'\x8dv;\x85\xe6H\x01yw\x91\xda[\x10\xf6\xc4M/...
3   51988805  b'\x83#\xc1ze KIk\x7f|\xfc\xdfDC\x80\xaaK\xa2\...
4   53220066  b'B\xebw7\x04\x90(o\xda\x91\xd5\x80\x10w\xc1\x...

   __index_level_0__
0               7334
1               1156
2               2210
3               5706
4               9271

In [11]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/origin/*.parquet')])
print(df.head())

         id type                                     url  lister  project  \
0  26564742  git    https://github.com/guardicore/monkey     NaN      NaN
1  65614902  deb           deb://Debian/packages/qemuctl     NaN      NaN
2  65634848  deb            deb://Debian/packages/retext     NaN      NaN
3  65639611  deb     deb://Debian/packages/python-extras     NaN      NaN
4  59785494  git  https://github.com/PaddlePaddle/models     NaN      NaN

   __index_level_0__
0               7884
1               3820
2               3402
3               8089
4               4017

In [52]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/directory_entry_file/*.parquet')])
print(df.head())

     id                                             target  \
0    69  b'\xc4\x18\xdb\xaa\xa05\xc3j\xce\xb3"\x84u\x7f...
1   475  b'\xe8\xae\x14\xf8\xbd\xa7\xd1$\xbf\xdb\xcd\x0...
2   913  b'c\xde|fX4\xd3\xd4\x0e5P\x02\t\x0f\xcew\x91\x...
3  1086  b'\x10\xe8\x93\xe4 \x1bB\x89\xa8\x82\xc6r>\xe8...
4  1148  b'\xccF\xf1\xc6Rq\x9f\xee\x89\x1c(\x9a\x90\xd4...

                   name  perms  __index_level_0__
0        b'compiler.py'  33188               4547
1          b'errors.py'  33188               4953
2        b'test_lex.py'  33188               5391
3  b'jquery.console.js'  33188               5564
4         b'_compat.py'  33188               5626

In [53]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/directory_entry_dir/*.parquet')])
print(df.head())

    id                                             target          name  \
0  225  b'\x8e\x9a\xb6\xc1G\xf48\x8f\xbe\x80\xf3\xcfQ\...      b'tests'
1  323  b'M\\\xe1\x05\xa0\xd9\xe2\xabZ\x93\xf0\xa8V@\x...       b'docs'
2  352  b'\x96Im\xf7X\xc9\xe5\xda\xd3\xd7\xb7>\xe0wI\x...         b'hy'
3  559  b"9\xa4g\xcc$'I\xc4\xc1O\xdb\x19\x92p\xb1\xe8j...       b'docs'
4  682  b'\x10+\xb5\xeb\xeae\x8a\xdbu5b\xccb\x9c\xa9\x...  b'templates'

   perms  __index_level_0__
0  16384               4189
1  16384               4287
2  16384               4316
3  16384               4523
4  16384               4646

In [54]:
df = pd.concat(
    [pd.read_parquet(file)
     for file
     in glob.glob('/home/matay/2019-01-28-popular-3k-python/directory/*.parquet')])
print(df.head())

                                                  id  \
0  b'\x01,_)\x8d!n^\x80\xbd\xb4[7;\x84\xd5\xe8P\x...
1  b'\x01\x8bU\x8e-\n\xd9\x0c\xf9\x87~Um\x18\xe6\...
2  b'\x01\xb3$\x1b\x17\xfa\x96\xe3\xd9>\x819\x14\...
3  b'\x03\x15\x1a.N\xa4\x99\x1bfT\xe5\x0c,L\x80\x...
4  b'\x03_\xe0\xbfqxg6"\xb57Y\xf9s\xccc\xb6\xe9\x...

                                         dir_entries  \
0  [54839571, 54836688, 54817642, 54841956, 54838...
1                                               None
2  [59722883, 14606981, 338701856, 338705639, 382...
3                              [93954850, 161465782]
4   [2448079244, 2448079498, 2448079484, 2448079261]

                                        file_entries rev_entries  \
0            [3406601, 69238130, 69249698, 69240800]        None
1  [2713270, 66429917, 66438342, 66428949, 664438...        None
2  [463127505, 463124660, 5222698, 15905312, 1323...        None
3  [215578881, 119296784, 215571584, 215573952, 2...        None
4  [3568156102, 3568156067, 3568156026, 356815634...        None

   __index_level_0__
0               4474
1               1322
2               9652
3               2741
4               1897

In [9]:
df4 = pd.read_parquet('/home/matay/2019-01-28-popular-4k/parquet/skipped_content.parquet')

In [37]:
pq.write_table(pq.ParquetDataset('/home/matay/2019-01-28-popular-3k-python/snapshot_branches/').read(), '/home/matay/2019-01-28-popular-3k-python/snapshot_branches.parquet', row_group_size=10000000)

In [10]:
print(df4.head())

                                                sha1  \
0  b'I\xa2\x8a\x93\x10e\xdd\xe1r\xb0%\x7f\xd4_\x1...
1  b'\xcb6;\xabE*\xef\xa2K\xc4\xb6g\xcc\xda\xb2\x...
2  b'\t\x99R\xce\xd4F\xde\x88X\x9b\x11[:\xa4\xd5\...
3  b'V\xd8R\xca\x81\xe8\xf8\xa8Z\xf2\xbb\x88\x93\...
4  b'%\x03\xc1\xd8/\xd5j\xa4\xfc\xadU\x9e\x06\xc4...

                                            sha1_git     length  \
0  b'\xca\x8e\xde\x0cF\xa0p\xf7@\xb3\xf2?\xcf\x9f...  123774309
1  b'\xc9%6"\xf2\xfeh\xe5a\x13U\xaa\xb7X]T67\x00\...  120226385
2  b'\x9b\xb8\x9c\xd5W\xf3\xc3\xd3\xaa\xd5\xbd_MJ...  200867840
3  b'\xee\x81\xc9LW_n\xa0`\xed\xa3\x91\xaf\x8d\x9...  127475153
4  b'\x15\xa6\x90\xd3d\x92\xd8\xd0\xf4q\x83K\x03\...  199557120

   __index_level_0__
0               3766
1               9688
2               7745
3               4246
4               7769

In [12]:
dataset4 = ds.dataset("/home/matay/2019-01-28-popular-4k/parquet/skipped_content.parquet", format="parquet")

In [14]:
dfi = dataset4.to_table().to_pandas()

In [15]:
dfi.head()

,sha1,sha1_git,length,__index_level_0__
0,b'I\xa2\x8a\x93\x10e\xdd\xe1r\xb0%\x7f\xd4_\x1...,b'\xca\x8e\xde\x0cF\xa0p\xf7@\xb3\xf2?\xcf\x9f...,123774309,3766
1,b'\xcb6;\xabE*\xef\xa2K\xc4\xb6g\xcc\xda\xb2\x...,"b'\xc9%6""\xf2\xfeh\xe5a\x13U\xaa\xb7X]T67\x00\...",120226385,9688
2,b'\t\x99R\xce\xd4F\xde\x88X\x9b\x11[:\xa4\xd5\...,b'\x9b\xb8\x9c\xd5W\xf3\xc3\xd3\xaa\xd5\xbd_MJ...,200867840,7745
3,b'V\xd8R\xca\x81\xe8\xf8\xa8Z\xf2\xbb\x88\x93\...,b'\xee\x81\xc9LW_n\xa0`\xed\xa3\x91\xaf\x8d\x9...,127475153,4246
4,b'%\x03\xc1\xd8/\xd5j\xa4\xfc\xadU\x9e\x06\xc4...,b'\x15\xa6\x90\xd3d\x92\xd8\xd0\xf4q\x83K\x03\...,199557120,7769

In [41]:
df.head()

,id,dir_entries,file_entries,rev_entries,__index_level_0__
0,"b'\x01,_)\x8d!n^\x80\xbd\xb4[7;\x84\xd5\xe8P\x...","[54839571, 54836688, 54817642, 54841956, 54838...","[3406601, 69238130, 69249698, 69240800]",None,4474
1,b'\x01\x8bU\x8e-\n\xd9\x0c\xf9\x87~Um\x18\xe6\...,None,"[2713270, 66429917, 66438342, 66428949, 664438...",None,1322
2,b'\x01\xb3$\x1b\x17\xfa\x96\xe3\xd9>\x819\x14\...,"[59722883, 14606981, 338701856, 338705639, 382...","[463127505, 463124660, 5222698, 15905312, 1323...",None,9652
3,"b'\x03\x15\x1a.N\xa4\x99\x1bfT\xe5\x0c,L\x80\x...","[93954850, 161465782]","[215578881, 119296784, 215571584, 215573952, 2...",None,2741
4,"b'\x03_\xe0\xbfqxg6""\xb57Y\xf9s\xccc\xb6\xe9\x...","[2448079244, 2448079498, 2448079484, 2448079261]","[3568156102, 3568156067, 3568156026, 356815634...",None,1897

In [17]:
df.head()

,id,type,url,lister,project,__index_level_0__
0,26564742,git,https://github.com/guardicore/monkey,NaN,NaN,7884
1,65614902,deb,deb://Debian/packages/qemuctl,NaN,NaN,3820
2,65634848,deb,deb://Debian/packages/retext,NaN,NaN,3402
3,65639611,deb,deb://Debian/packages/python-extras,NaN,NaN,8089
4,59785494,git,https://github.com/PaddlePaddle/models,NaN,NaN,4017

In [12]:
df.head()

,id,target,name,perms,__index_level_0__
0,225,b'\x8e\x9a\xb6\xc1G\xf48\x8f\xbe\x80\xf3\xcfQ\...,b'tests',16384,4189
1,323,b'M\\\xe1\x05\xa0\xd9\xe2\xabZ\x93\xf0\xa8V@\x...,b'docs',16384,4287
2,352,b'\x96Im\xf7X\xc9\xe5\xda\xd3\xd7\xb7>\xe0wI\x...,b'hy',16384,4316
3,559,"b""9\xa4g\xcc$'I\xc4\xc1O\xdb\x19\x92p\xb1\xe8j...",b'docs',16384,4523
4,682,b'\x10+\xb5\xeb\xeae\x8a\xdbu5b\xccb\x9c\xa9\x...,b'templates',16384,4646

In [10]:
df.head()

,id,target,name,perms,__index_level_0__
0,69,"b'\xc4\x18\xdb\xaa\xa05\xc3j\xce\xb3""\x84u\x7f...",b'compiler.py',33188,4547
1,475,b'\xe8\xae\x14\xf8\xbd\xa7\xd1$\xbf\xdb\xcd\x0...,b'errors.py',33188,4953
2,913,b'c\xde|fX4\xd3\xd4\x0e5P\x02\t\x0f\xcew\x91\x...,b'test_lex.py',33188,5391
3,1086,b'\x10\xe8\x93\xe4 \x1bB\x89\xa8\x82\xc6r>\xe8...,b'jquery.console.js',33188,5564
4,1148,b'\xccF\xf1\xc6Rq\x9f\xee\x89\x1c(\x9a\x90\xd4...,b'_compat.py',33188,5626

In [27]:
df1 = pandas.read_parquet('popular3kcontent.parquet', dtype_backend="pyarrow", engine="pyarrow")

In [30]:
df_parquet_bytes = df1.to_parquet()

In [34]:
restored_df = pd.read_parquet(BytesIO(df_parquet_bytes))

In [35]:
restored_df.head(5)

,sha1,sha1_git,length,__index_level_0__
0,b'\x9b\x0f\xa9R\n\x1a\xd2\xa6\x96*\xcd\x01\xb2...,b'\x01z\xd0\xc84\x7f\xd23\x81R\x95{\xea_\xb3\x...,11815,8076
1,b'\xf8\xd3\x88\x1c\xafMpAz\xb6I\xe4\x8f\xee\x8...,"b'\x02\xb3\xa3)|\xdd\xe1!)""\xa8XD\xf0!\xefY?\x...",1683,9829
2,b'\x7f\xbf.\xf0\xb4\x9e\xf1\xf0\x87j\\\xc1>hY\...,b'\x04\x11:\xaa\x05\xb9\x1a\xf7\xbe\xb2i\x07\x...,12975,212
3,b'\x9at\x94TE2\xb2\xfcP\x82@\rghz\x8bo\xe4\xb0...,b'\x048u/\xf8\x038&6\x9d7\xe81$\xf35\xcdC\x99\...,1555591,8138
4,b'\x04\xf1\xa0\x17j1\xfb\x85\x9fE\xb0`U\xc4\x9...,b'\x069\\$\x95\x8b\xc2\xa8\x0b4-\xb8A\xe1\xbd\...,2047,1104

In [18]:
len(pandas.read_parquet('popular3kcontent.parquet'))

9889099

In [44]:
len(df.query("length > 1683"))

8004547

In [54]:
# uses pyarrow
pandas.read_parquet('/home/matay/2019-01-28-popular-4k/parquet/popular3kcontent.parquet', columns=['origin']).query("length >= 11815" and "__index_level_0__>= 8076")

          length  __index_level_0__
0          11815               8076
1           1683               9829
3        1555591               8138
15         11489               8737
27         10274               8690
...          ...                ...
9889065     2561               8826
9889071      492               9168
9889079     4633               9736
9889081     8255               8847
9889082    52655               8158

[1873134 rows x 2 columns]

In [42]:
# uses pyarrow
vis = pd.read_parquet('/home/matay/2019-01-28-popular-3k-python/origin_visit.parquet')

In [45]:
vis.head()

,origin,visit,date,status,metadata,snapshot_id,__index_level_0__
0,2212389,17,2018-07-10 21:24:19.446206,full,NaN,55615823.0,3961
1,2212389,18,2018-09-23 20:36:54.838253,full,NaN,57138077.0,61
2,2212389,11,2016-08-30 17:56:16.213940,full,NaN,3885681.0,4433
3,2212389,12,2016-09-08 10:14:44.130835,full,NaN,3885682.0,9152
4,2212389,13,2016-09-15 10:04:03.972309,full,NaN,3885683.0,4815

In [43]:
len(vis)

238566

In [44]:
vis.filter(like='snapshot_id', axis=1)

        snapshot_id
0        55615823.0
1        57138077.0
2         3885681.0
3         3885682.0
4         3885683.0
...             ...
238561   26691210.0
238562   26691210.0
238563   57073173.0
238564   57085748.0
238565   57133311.0

[238566 rows x 1 columns]

In [40]:
snp = pd.read_parquet('/home/matay/2019-01-28-popular-3k-python/snapshot_branches.parquet')

In [51]:
dfc = snp[snp['snapshot_id'].astype(str).str.contains('55615823')] 
print(dfc)

         snapshot_id  branch_id  __index_level_0__
6614479     55615823    5447838               9588
6614480     55615823    7178341               9589
6614481     55615823    7431740               9590
6614482     55615823    7568068               9591
6614483     55615823    8685696               9592
...              ...        ...                ...
6614883     55615823  164713029               9992
6614884     55615823  164713030               9993
6614885     55615823  164713031               9994
6614886     55615823  164713032               9995
6614887     55615823  164713033               9996

[409 rows x 3 columns]

In [37]:
 print(pd.__version__)

2.2.2